<div class="box wide">
  <div class="legend">
    Регистрация
  </div>

  <p>
  Регистрация возможна только по приглашению. Это мера, направленная на улучшение качества контента. 
  Если вы знаете <a href="/u/">кого-то</a> на сайте – попросите его пригласить вас.
  Еще можно <a href="/invitations/request">запросить инвайт публично</a>, кто-нибудь из текущих
   пользователей увидит ваш запрос и, возможно, пригласит вас на сайт.
  </p>
</div>
