<div class="box wide">
  <div class="legend">
    Передайте приглашение дальше
  </div>

  <p>
  Наше сообщество растет благодаря тому, что пользователи приглашают новых пользователей, 
  как это сделал <strong><%= @user.invited_by_user.try(:username) %></strong> с вами.
  Уделите несколько секунд и пригласите кого-нибудь сами.
  </p>

  <%= render :partial => "users/invitationform",
    :locals => { :return_home => true } %>

  <p>
  <%= button_to "Не сейчас", "/", :method => :get %>
  </p>
</div>
