<div class="box wide">
  <div class="legend">
    Сброс пароля
  </div>

  <p>
  Если вы забыли пароль, введите e-amil или имя (логин) ниже. Инструкции по сбросу пароля будут отправлены на ваш адрес.
  </p>

  <%= form_tag reset_password_url do %>
    <%= label_tag :email, "E-mail или имя:" %>
    <%= text_field_tag :email, "", :size => 30 %>
    <br />

    <p>
    <%= submit_tag "Сбросить пароль" %>
    </p>
  <% end %>
</div>
