<div class="markdown_help" style="display: none; padding-top: 0.5em;">
  <table>
  <tr>
    <td width="125"><em>выделение</em></td>
    <td>окружите <tt>*звездочками*</tt></td>
  </tr>
  <tr>
    <td><strong>полужирное</strong></td>
    <td>окружите <tt>**двумя звездочками**</tt></td>
  </tr>
  <tr>
    <td><strike>зачеркнутый текст</strike></td>
    <td>окружите <tt>~~двумя тильдами~~</tt></td>
  </tr>
  <tr>
    <td><a href="http://example.com/"
      style="color: inherit;">ссылка</a></td>
    <td><tt>[заголовок](http://example.com/)</tt> или просто вставьте голый URL без заголовока</td>
  </tr>
  <tr>
    <td><blockquote> цитата</blockquote></td>
    <td>начните текст с <tt>&gt;</tt></td>
  </tr>
  <tr>
    <td><pre style="margin: 0px;">pre
  text</pre></td>
    <td>начните текст с как минимум<tt>&nbsp;&nbsp;&nbsp;&nbsp;4 пробелов</tt></td>
  </tr>

  <% if defined?(allow_images) && allow_images %>
    <tr>
      <td>(картинка)</td>
      <td><tt>![alt text](http://example.com/image.jpg)</tt> (только в текстовых топиках</td>
    </tr>
  <% end %>

  </table>
</div>
